In [96]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [97]:
train = pd.read_excel("Train_dataset.xlsx")
test = pd.read_excel("Test_dataset.xlsx")

In [98]:
train = train.drop(["Name","Occupation"], axis = 1)
test = test.drop(["Name","Occupation"], axis = 1)

In [99]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 26 columns):
people_ID                 10714 non-null int64
Region                    10714 non-null object
Gender                    10714 non-null object
Designation               10714 non-null object
Married                   10714 non-null object
Children                  10403 non-null float64
Mode_transport            10711 non-null object
cases/1M                  10714 non-null int64
Deaths/1M                 10714 non-null int64
comorbidity               10488 non-null object
Age                       10714 non-null int64
Coma score                10714 non-null int64
Pulmonary score           10714 non-null object
cardiological pressure    10617 non-null object
Diuresis                  9998 non-null float64
Platelets                 9790 non-null float64
HBB                       10698 non-null float64
d-dimer                   9600 non-null float64
Heart rate                9600 non-null float64
HDL cholesterol           10679 non-null float64
Charlson Index            10714 non-null int64
Blood Glucose             10714 non-null int64
Insurance                 9624 non-null float64
salary                    10714 non-null int64
FT/month                  9991 non-null float64
Infect_Prob               10714 non-null float64
dtypes: float64(10), int64(8), object(8)
memory usage: 2.1+ MB

In [100]:
train = train.replace('Male', 0)
train = train.replace('Female', 1)
train = train.replace('Mrs', 1)
train = train.replace('Mr', 0)
train = train.replace("YES", 1)
train = train.replace('NO', 0)
test = test.replace('Male', 0)
test = test.replace('Female', 1)
test = test.replace('Mrs', 1)
test = test.replace('Mr', 0)
test = test.replace("YES", 1)
test = test.replace('NO', 0)

In [101]:
train.head()

,people_ID,Region,Gender,Designation,Married,Children,Mode_transport,cases/1M,Deaths/1M,comorbidity,...,HBB,d-dimer,Heart rate,HDL cholesterol,Charlson Index,Blood Glucose,Insurance,salary,FT/month,Infect_Prob
0,1,Bhubaneshwar,1,1,1,1.0,Public,2,0,Hypertension,...,93.0,233.0,82.0,58.0,27,7,3600000.0,1300000,2.0,49.135010
1,2,Bhubaneshwar,1,1,1,2.0,Walk,2,0,Diabetes,...,56.0,328.0,89.0,68.0,5,6,1600000.0,400000,1.0,51.147880
2,3,Bhubaneshwar,1,1,0,1.0,Public,2,0,None,...,137.0,213.0,77.0,43.0,40,6,3400000.0,900000,1.0,73.224000
3,4,Bhubaneshwar,1,1,1,1.0,Car,2,0,Coronary Heart Disease,...,167.0,275.0,64.0,60.0,27,7,700000.0,2300000,1.0,48.779225
4,5,Bhubaneshwar,1,1,0,2.0,Car,2,0,Diabetes,...,153.0,331.0,71.0,64.0,32,7,3200000.0,1100000,1.0,87.868800

In [102]:
train = train.replace('Chennai',4)
train = train.replace('Bengaluru',3)
train = train.replace('Chandigarh',2)
train = train.replace('Bhubaneshwar',1)
train = train.replace('Delhi',0)
test = test.replace('Chennai',4)
test = test.replace('Bengaluru',3)
test = test.replace('Chandigarh',2)
test = test.replace('Bhubaneshwar',1)
test = test.replace('Delhi',0)
test = test.replace('')

In [103]:
train = train.drop(['comorbidity', 'cardiological pressure'], axis = 1)
test = test.drop(['comorbidity', 'cardiological pressure'], axis = 1)

In [104]:
train = train.replace('Public', 2)
train = train.replace('Walk', 1)
train = train.replace('Car', 0) 
test = test.replace('Public', 2)
test = test.replace('Walk', 1)
test = test.replace('Car', 0)

In [105]:
train = train.replace("<400",400)
train = train.replace("<300",300)
train = train.replace("<200",200)
train = train.replace("<100",100)
test = test.replace("<400",400)
test = test.replace("<300",300)
test = test.replace("<200",200)
test = test.replace("<100",100)

In [106]:
train['Children'] = train['Children'].fillna(np.mean(train["Children"]))
train['Mode_transport'] = train['Mode_transport'].fillna(np.mean(train["Mode_transport"]))
train['Diuresis'] = train['Diuresis'].fillna(np.mean(train["Diuresis"]))
train['Platelets'] = train['Platelets'].fillna(np.mean(train["Platelets"]))
train['HBB'] = train['HBB'].fillna(np.mean(train["HBB"]))
train['d-dimer'] = train['d-dimer'].fillna(np.mean(train["d-dimer"]))
train['Heart rate'] = train['Heart rate'].fillna(np.mean(train["Heart rate"]))
train['HDL cholesterol'] = train['HDL cholesterol'].fillna(np.mean(train["HDL cholesterol"]))
train['Insurance'] = train['Insurance'].fillna(np.mean(train["Insurance"]))
train['FT/month'] = train['FT/month'].fillna(np.mean(train["FT/month"]))

In [107]:
train.info()
print("---------------------------------")
test.info()
print("----------------------------------")
test.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10714 entries, 0 to 10713
Data columns (total 24 columns):
people_ID          10714 non-null int64
Region             10714 non-null int64
Gender             10714 non-null int64
Designation        10714 non-null int64
Married            10714 non-null int64
Children           10714 non-null float64
Mode_transport     10714 non-null float64
cases/1M           10714 non-null int64
Deaths/1M          10714 non-null int64
Age                10714 non-null int64
Coma score         10714 non-null int64
Pulmonary score    10714 non-null int64
Diuresis           10714 non-null float64
Platelets          10714 non-null float64
HBB                10714 non-null float64
d-dimer            10714 non-null float64
Heart rate         10714 non-null float64
HDL cholesterol    10714 non-null float64
Charlson Index     10714 non-null int64
Blood Glucose      10714 non-null int64
Insurance          10714 non-null float64
salary             10714 non-null int64
FT/month           10714 non-null float64
Infect_Prob        10714 non-null float64
dtypes: float64(11), int64(13)
memory usage: 2.0 MB
---------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14498 entries, 0 to 14497
Data columns (total 23 columns):
people_ID          14498 non-null int64
Region             14498 non-null object
Gender             14498 non-null int64
Designation        14498 non-null int64
Married            14498 non-null int64
Children           14498 non-null int64
Mode_transport     14498 non-null int64
cases/1M           14498 non-null int64
Deaths/1M          14498 non-null int64
Age                14498 non-null int64
Coma score         14498 non-null int64
Pulmonary score    14498 non-null int64
Diuresis           14498 non-null int64
Platelets          14498 non-null int64
HBB                14498 non-null int64
d-dimer            14498 non-null int64
Heart rate         14498 non-null int64
HDL cholesterol    14498 non-null int64
Charlson Index     14498 non-null int64
Blood Glucose      14498 non-null int64
Insurance          14498 non-null int64
salary             14498 non-null int64
FT/month           14498 non-null int64
dtypes: int64(22), object(1)
memory usage: 2.5+ MB
----------------------------------

(14498, 23)

In [108]:
y_train = train.iloc[:,-1].values

In [109]:
x_train = train.iloc[:,0:-1].values

In [110]:
x_train

array([[1.0000e+00, 1.0000e+00, 1.0000e+00, ..., 3.6000e+06, 1.3000e+06,
        2.0000e+00],
       [2.0000e+00, 1.0000e+00, 1.0000e+00, ..., 1.6000e+06, 4.0000e+05,
        1.0000e+00],
       [3.0000e+00, 1.0000e+00, 1.0000e+00, ..., 3.4000e+06, 9.0000e+05,
        1.0000e+00],
       ...,
       [2.2693e+04, 3.0000e+00, 0.0000e+00, ..., 3.0000e+06, 2.1000e+06,
        2.0000e+00],
       [2.2694e+04, 3.0000e+00, 0.0000e+00, ..., 2.9000e+06, 7.0000e+05,
        1.0000e+00],
       [2.2695e+04, 3.0000e+00, 0.0000e+00, ..., 2.1000e+06, 1.4000e+06,
        0.0000e+00]])

In [111]:
#sc = StandardScaler()

In [112]:
#x_train = sc.fit_transform(x_train)

In [113]:
#y_train = sc.fit_transform(y_train.reshape(-1,1))

In [114]:
reg=LinearRegression().fit(x_train,y_train)

In [115]:
test = test.replace('Hyderabad', 0)
test = test.replace('Kolkata', 1)
test = test.replace('Mumbai', 4)
test = test.replace("Pune",3)
test = test.replace("Thiruvananthapuram",2)

In [116]:
pred = reg.predict(test)

In [117]:
pred

array([52.69007962, 52.20857262, 50.93073641, ..., 51.6609252 ,
       51.18815073, 51.95950842])

In [118]:
pred_df = pd.DataFrame(pred)

In [120]:
pred_df.to_csv(r'predictions.csv', index=False)